<div class="container">
  <div class="container-inner inner-default clearfix">
    <% amazon_items.each do |item| %>
      <div class="item-box">
        <div class="image">
          <div class="img-wrap">
            <% if item.get('LargeImage/URL') != nil %>
              <%= image_tag(item.get('LargeImage/URL') , alt: item.get('ItemAttributes/Title')) %>
            <% else %>
              <%= image_tag("no-image.png" , alt: item.get('ItemAttributes/Title')) %>
             <% end %> 
          </div>
        </div>
        <div class="detail">
          <p class="title">
            <%= item.get('ItemAttributes/Title') %>
          </p>
        </div>
        <% if current_user.want? item %>
            <%= render 'items/unwant' , item: item %>
        <% else %>
            <%= render 'items/want' , item: item %>
        <% end %> 

        <% if current_user.have? item %>
            <%= render 'items/unhave' , item: item %>
        <% else %>
            <%= render 'items/have' , item: item %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>